body {
  font-family: Roboto, sans-serif;
  background: #fafafa;
  -webkit-tap-highlight-color: transparent;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 1em;
}

p { font-weight: 300; }

.wrapper {
  max-width: 800px;
  margin: 40px auto 0;
}

.demo { margin-bottom: 40px; }
.demo-text {
  text-align: left;
  margin: 0 -20px 20px;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
}
