body {
  font-family: Roboto, sans-serif;
  background: #fafafa;
  -webkit-tap-highlight-color: transparent;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 1em;
}

p { font-weight: 300; }
code { font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace; }
button { font: inherit; }

.wrapper {
  max-width: 800px;
  margin: 40px auto 0;
}

demo-snippet { margin-bottom: 40px; }
demo-snippet paper-icon-button { display: none !important; }
.demo-snippet-text {
  text-align: left;
  margin: 0 -20px 20px;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
}

.btn {
  background: #006dbe;
  padding: 0 0 0.13em;
  font: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 0.25em;
  box-shadow: inset 0 -0.25em 0 rgba(0, 0, 0, 0.2);
  color: #fff; }
.btn--red {
  background: #ed1e42; }

.padding-right { padding-right: 12px; }
.padding-left { padding-left: 12px; }
